@import "tailwindcss";

:root {
  --background: #050816;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top left, #1e3a8a22, transparent 25%),
    radial-gradient(circle at bottom right, #7c3aed22, transparent 25%),
    #050816;

  color: var(--foreground);

  font-family: var(--font-inter), sans-serif;

  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 999px;
}

html,
body {
  overflow-x: hidden;
}